@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto";
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 64px;
    background-color: #1F2937;
}
.header-container a {
    text-decoration: none;
    color: white;
}
.logo {
    font-size: 24px;
    color:#f9faf8;
    font-weight: 700;

}
.links {
    display: flex;
    justify-content: space-around;
    gap:24px;
    color: #e5e7eb;
    font-size: 18px;
}
.hero {
    display:flex;
    background-color: #1F2937;
    padding: 48px 64px;
    color: white;
    gap:32px;
    height: 300px;
    justify-content: center;
}
.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 10px 10px 0;
    margin: 0;
}
button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 6px;
    border:none;
}
.hero-text,
.hero-img {
    flex:1;
    height: 78%;
    padding:0px;
    margin:0px;
}
.hero-img img {
    width:100%;
    height: 100%;
}
.info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 64px;
    background-color: #f9faf8;
}
.info>p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
.info-img-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    gap: 32px;
}
.info-img {
    text-align: center;
    width: 200px;
}
.info-img img {
    height: 200px;
    width: auto;
}
.quote {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 24px 64px;
    
}
.quote .actual-quote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin:0 28px;
}
p em {
    font-size: 36px;
    font-weight: 100;
    display: block;
}

.pop-up {
    display:flex;
    align-content: center;
    justify-content: center;
    padding: 32px;
}
.actual-pop-up {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:32px;
    gap: 16px;
}
.white-border {
    border:1px solid white;
    height: 27px;
    align-self: center;
}
.pop-up-text .head {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}
.pop-up-text p {
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}
.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 28px 64px;
    color: #f9faf8;
}
.content {
    display:flex;
    flex-direction: column;
    flex:1;
}